//start colors
$dark-blue: #1E202A;
$text-color: #1E202A;
$purple: #7529B3;
$blue: #15178F;
$aqua: #18CCF5;
$yellow: #F5AA11;
//end colors

//start fonts 
$open-sans: 'Open Sans', sans-serif;
$rubik: 'Rubik', sans-serif;
//end fonts